<%= form_for(@article_category) do |f| %>
  <% if @article_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article_category.errors.count, "error") %> prohibited this article_category from being saved:</h2>

      <ul>
      <% @article_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article_id %><br>
    <%= f.number_field :article_id %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :select_categories %><br>
    <%= f.collection_check_boxes :category_ids,Category.all, :id,:name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
